body {
  font-family: Tahoma, Arial, sans-serif;
  text-align: center;
  background: #f8f9fa;
  color: #333;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  color: #0077cc;
}

.scanner-container {
  margin: 0px 100px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: inline-block;
}

#reader {
  width: 300px;
  margin: auto;
}

#cameraSelect {
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
}

#Cooldown {
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
}

.log-container {
  margin: 0px 50px;
  margin-top: 30px;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: inline-block;
  text-align: left;
  min-width: 320px;
  max-width: fit-content;
}

.log-container h2 {
  margin-top: 0;
  color: #444;
  font-size: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.log {
  margin-top: 10px;
  font-size: 16px;
  color: green;
  max-height: 200px;
  overflow-y: auto;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}
#cds {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--acent-clr);
  border-radius: 10px;
}
#cds p {
  color: white;
}
.cdsi {
  border-radius: 3px;
  width: 20px;
  height: 150px;
  font-size: 100px;
  background-color: white;
  animation: spin 2s ease-in-out infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}